.vscode/
.DS_Store
.venv
attackerDevice/monitor/logs/*
attackerDevice/monitor/pcaps/*
attackerDevice/monitor/MLLogs/*
attackerDevice/monitor/tempPcap/*
attackerDevice/metaData/*
attackerDevice/router_logs/*
mm-iot-esp32/logs/*
__pycache__/